{% extends 'base.html.twig' %}

{% block body %}

<h2>Bienvenu dans ce blog</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi iste recusandae, voluptatem deleniti quae quo. Nam eius, similique natus aut hic inventore sequi, ipsa culpa blanditiis quasi possimus eos odit tempore dolorem consectetur a necessitatibus esse iste quae aspernatur voluptatem.</p>
<p>Officia dolores assumenda modi eveniet pariatur perferendis accusantium molestiae in possimus fugiat. Totam porro doloremque minima voluptatem, placeat harum sint, quibusdam, explicabo beatae est ut repellat. At aliquid voluptatem quas iste nesciunt quam ipsum molestias reprehenderit hic, eos et repellendus?</p>

{% endblock %}